/* Estilos generales del navbar */
.navbar {
    background-color: $morado;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid $morado;

    #navbarNavDropdown {
        margin-right: 150px;
        text-align: center;
    }

    .nav-link {
        @include font-principal(18px, $montserrat);
        color: $blanco;

        &:hover {
            background-color: $morado;
            padding: 1rem;
            color: $gris;
        }
    }

    .dropdown-item {
        @include font-principal(15px, $montserrat);

        &:hover {
            background-color: $morado;
            padding: 1rem;
            color: $blanco;
        }
    }

    .logo {
        width: 100px;
    }

    @media (max-width: 991.98px) {
    /* Centra los elementos en el collapse del navbar */
        #navbarNavDropdown {
        text-align: center;
        margin-right: 0;
        }
        .navbar-nav .nav-item {
        margin: 0;
        }
    }

    .nav-item.dropdown > .nav-link {
    color: $blanco;

        &:hover {
            color: $gris;
        }
    }
}