h2 {
    @include font-principal (40px, $pompiere);
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 0px;
    color: $verde;
}

h3 {
    @include font-principal (20px, $acme);
    margin-top: 0;
    margin-bottom: 20px;
}

.contenedor-informacion {
    display: flex;
    align-items: center;
    padding: 10px;

    .informacion-inicio {
        @include text-block(18px, $roboto);
    }

    .img-inicio1 {
        width: 40%;
        max-width: 100%;
        height: auto;
        margin-left: 0; // Cambia el valor o elimínalo
    }
    
    .img-inicio2 {
        width: 40%;
        max-width: 100%;
        height: auto;
        margin-right: 0; // Cambia el valor o elimínalo
    }
    
    }

    @media (max-width: 768px) {
        .contenedor-informacion {
            display: block;
    
            .informacion-inicio {
                text-align: center; 
            }
    
            .img-inicio1,
            .img-inicio2 {
                width: 100%;
                max-width: 100%;
                margin: 10px 0; 
            }
        }
    }
    
